.idea/*
target/*
sh.exe.stackdump
*.iml
pLayer.log
.classpath
.project
_db.log
_db.properties
_db.script
Logger.log
Logger.log.1
string_db.log
string_db.properties
string_db.script
username_db.log
username_db.properties
username_db.script
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
